/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');





:root {

    /* Colors */

    --black-color: #000000;
    --black-2-color: #202020;
    --white-color: #ffffff;
    --primary-color: #000000;
    --secondary-color: #F7F8F9;
    --teritiary-color: #404040;
    --text-color: #D0D0D0;
    --border-color: #333333;
    --grey-bg-w-color: #606060;
    --grey-bg-b-color: #808080;
    --black-opacity: rgba(22, 22, 23, 0.8);


    /* Responsive */

    --ps-gutter: min(100vw, 1440px);
    --ps-gutter-mob: 24px;


    /* Border Radius */
    --border-radius-1: 18px;
    --border-radius-2: 14px;


    /* Fonts */
    --primary-font: "Hanken Grotesk", sans-serif;
    --secondary-font: "Inter", sans-serif;

}

.cursor {
    cursor: url('../public/img/cursors/cursor.svg'), auto;
}

.overflow-x-h {
    overflow-x: unset;
}

.content {
    background-color: var(--black-color);
}

body {
    margin: 0 !important;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
}



* {
    font-family: var(--primary-font);
    box-sizing: border-box;
}


.loader-styling {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.circle-loader {
    display: flex;
    gap: 8px;
}

.circle-input {
    width: 6px;
    height: 6px;
    background-color: var(--grey-bg-b-color);
    border-radius: 100%;
    animation: translateCircle 1.2s ease-in-out infinite;
}

@keyframes translateCircle {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Add a delay to each circle for staggering the animation */
.circle-input:nth-child(1) {
    animation-delay: 0s;
}

.circle-input:nth-child(2) {
    animation-delay: 0.4s;
}

.circle-input:nth-child(3) {
    animation-delay: 0.8s;
}


.logo {
    display: flex;
    place-items: center;
}

.nav-bar {
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid transparent;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    .nav-main {
        transform: translate3d(0px, 2px, 2px);
        transition: 0.6s  transform ease-in-out;
    }
}


.nav-bar.scrolled {
    background-color: var(--black-opacity);
    border-bottom: 1px solid var(--border-color);
    .nav-main {
        transform: translate3d(0px, 0px, 0px);
    }
}

.nav-main {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    display: flex;
    padding: 14px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: auto;
}

.menu-icon {
    display: none;
}

.menu-container {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: #00000050;
    transition: position .3s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    visibility: hidden;
    z-index: 0;
}

.mob-nav-btns {
    display: none;
}

.menu-container.active {
    display: none;
    /* Show the menu container when active */
}


.header-text {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 300;
}

.header-text:hover {
    color: var(--white-color);
    transition: color .2s ease-in-out;
}

.btn-1 {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 10px;
    background: var(--black-2-color);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
    border-radius: 99px;
}

.btn-1:hover {
    background-color: var(--teritiary-color);
}

.btn-1:active {
    transform: scale3d(0.98, 0.98, 0.98);
}

.btn-2 {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--grey-bg-b-color);
}

.btn-2:hover {
    background-color: var(--black-2-color);
}

.btn-2:active {
    transform: scale3d(0.98, 0.98, 0.98);
}

.btn-3 {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background: var(--teritiary-color);
    width: fit-content;
}

.btn-3:hover {
    background-color: var(--text-color);
}

.btn-3:active {
    transform: scale3d(0.98, 0.98, 0.98);
}



.nav-btns {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.full-bg {
    height: 100%;
    width: 100%;
    background-color: var(--black-color);
}

.bg-main {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;
    padding: 0 0 100px 0;

    .zoom-image {
        width: unset;
    }

    .project-breif-heading {
        width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
        margin: auto;

    }
}

.bg-main-project {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;

}

.main-image {
    padding-top: 100px !important;
}

.width-unset {
    width: unset !important;
}

.df {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.intro-section-main {
    width: 100%;
    display: flex;
    place-items: center;
    margin-top: 32vh;
}

.intro-section {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.intro-white-text {
    color: var(--white-color);
    font-weight: 300;
    background-image: unset;
}

.intro-grey-text {
    color: var(--grey-bg-b-color) !important;
    font-weight: 300;
    background-image: unset;
}

.intro-link {
    margin-right: 16px;
    cursor: pointer;
}

.intro-link:hover {
    text-decoration: underline;
}


.intro-content p {
    font-size: clamp(20px, 1.7vw, 29px);
    font-weight: 300;
    color: var(--white-color) !important;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 32vh;
}


.company-text {
    color: var(--white-color);
    cursor: pointer;
    background-image: linear-gradient(138deg, #0895FF, #C952DD 34%, #FF2E55 68%, #FF9014);
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-weight: 300;
}

.company-text:hover {
    background-image: linear-gradient(158deg, #0895FF, #C952DD 34%, #FF2E55 68%, #FF9014);
    transition: transform 0.2s ease-in-out;
}



.width-50 {
    width: 50%;
}

.scroll-btn {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    background: var(--black-2-color);
    width: fit-content;
    gap: 10px;
    color: var(--grey-bg-b-color);
    transition: transform 0.2s ease-in-out;
    border-radius: 99px;
    cursor: pointer;
}

.scroll-btn a {
    color: var(--grey-bg-b-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.scroll-btn img {
    transition: 0.2s ease-in-out;
}

.scroll-btn:hover {
    img {
        transform: translateY(2px);
    }

    background-color: var(--teritiary-color);
}

.scroll-btn:active {
    transform: scale3d(0.98, 0.98, 0.98);
}



.intro-img {
    width: 80px;
    height: 80px;
    border-radius: 99px;
    display: flex;
    border: 1px solid var(--border-color);
}

.intro-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.bg-works {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.cards-container {
    gap: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-about {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;
    gap: 56px;
    display: flex;
    flex-direction: column;
}

.about-main {
    display: flex;
    gap: 56px;
    flex-direction: row;
    padding-top: 30vh;
}


.about-main p {
    color: var(--white-color);
    font-size: 18px;
    font-weight: 300 ;
    width: 50%;
}

.about-main img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}


.about-div-heading {
    font-size: 32px;
    font-weight: 500;
}

.about-img {
    height: 40vh;
    width: 100%;
    border-radius: 36px;
    min-height: fit-content;
    flex: 1 1 30%;
    box-sizing: border-box;
    display: flex;
}

.about-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 36px;
}

.about-main-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.about-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--secondary-color);
    border-radius: 36px;
    flex: 1 1 70%;
    box-sizing: border-box;
}

.about-main-heading {
    font-size: 28px;
    font-weight: 600;
}

.about-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}


.main-card {
    display: flex;
    height: calc(100vh - 296px);
    min-height: 536px;
    max-height: 50vh !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--secondary-color);
    transition: transform .1s ease-in-out;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 1px solid var(--black-2-color);
    overflow: hidden;
    border-radius: var(--border-radius-1);
}


.sub-card {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    backdrop-filter: blur(0px);
    opacity: 0;
    visibility: hidden;
    transition: backdrop-filter 0.3s cubic-bezier(0, -.6, 0, 1.07), opacity 0.3s cubic-bezier(0, -.6, 0, 1.07), background-color 0.3s cubic-bezier(0, -.6, 0, 1.07);
    background-color: rgba(0, 0, 0, 0);
}


.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

.main-heading {
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
    width: 70%;
    line-height: 1.2;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
}

.heading-type {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--grey-bg-b-color);
    text-align: center;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
}


.main-card:hover {
    .sub-card {
        background-color: rgba(0, 0, 0, 0.30);
        backdrop-filter: blur(60px);
        opacity: 1;
        /* Make visible on hover */
        visibility: visible;
        /* Ensure element is visible */

        transition: backdrop-filter 0.3s cubic-bezier(0, -.6, 0, 1.07), opacity 0.3s cubic-bezier(0, -.6, 0, 1.07), background-color 0.3s cubic-bezier(0, -.6, 0, 1.07);
    }

    img {
        height: 120%;
        width: 120%;
        transition: 0.02s ease-in;
    }

    .heading-type {
        color: var(--text-color);
    }

    transition-duration: 0.3s !important;
    transition-property: all;
    transition-timing-function: ease-in-out;
    box-shadow: 2px 4px 16px #ffffff29;
    transform: scale3d(1.01, 1.01, 1.01) !important;
}

.main-card:active {
    transform: scale3d(0.98, 0.98, 0.98);
}


@keyframes scaleIn {
    from {
        transform: scale3d(0.5, 0.5, 0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow-y: hidden !important;
    animation: fadeIn 0.1s ease-in-out;
    backdrop-filter: blur(20px);
}

.popup-content {
    display: flex;
    gap: 32px;
    flex-direction: column;
    background: var(--black-color);
    box-shadow: 0px 0px 140px 0px rgba(255, 255, 255, 0.25);
    padding: 56px;
    text-align: center;
    transform: scale3d(0.5, 0.5, 0.5);
    /* Initial scale */
    animation: scaleIn 0.1s ease-in-out forwards;
    /* Apply scale animation */
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-1);
}




.popup-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.popup-content p {
    color: var(--grey-bg-b-color);
    margin: 0;
    text-align: left;
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
}

.popup-content img {
    border-radius: var(--border-radius-1) !important;
}

/* Optional fade-in effect for the background */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-button {
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    transition: transform .2s ease-in-out;
}

.close-button:hover {
    background: var(--black-2-color);
}

.close-button:active {
    transform: scale3d(0.98, 0.98, 0.98);
}

.popup-content input {
    width: 100%;
    min-width: 310px;
    padding: 14px;
    font-size: 14px;
    background: #000;
    border-width: 1px;
    border-color: #ffffff40;
    color: #fff;
    border-radius: var(--border-radius-1);
    font-weight: 400;

}

.popup-content input:hover {
    border-color: #ffffff60;
}

.unlock-projects {
    cursor: pointer;
    background: var(--white-color);
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: var(--black-color);
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    border-radius: var(--border-radius-1);
}

.unlock-projects a {
    color: var(--black-color);
    font-size: 16px;
}


.unlock-projects:hover {
    background: var(--primary-color);
    border: 1px solid var(--border-color);

    a {
        color: var(--white-color);
    }

    img {
        filter: brightness(0) saturate(100%) invert(81%) sepia(100%) saturate(0%) hue-rotate(254deg) brightness(106%) contrast(103%);
    }
}

.unlock-projects:active {
    transform: scale3d(0.98, 0.98, 0.98);
}





.bg-footer {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.footer-main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.footer-main a {
    color: var(--white-color);
    font-weight: 300;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
    font-weight: 300;
}


.footer-white {
    color: var(--white-color);
}


.footer-grey {
    color: var(--grey-bg-b-color) !important;
}

.footer-link {
    color: var(--white-color);
}

.footer-link:hover {
    text-decoration: underline;
}

.toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.fade-in {
    opacity: 0;
    transform: scale(var(--scale-start, 0.98));
    /* Start with scale 0.9 and slide down */
    transition: opacity .8s cubic-bezier(0.455, 0.030, 0.515, 0.955), transform .8s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.fade-in.visible {
    opacity: 1;
    transform: scale(var(--scale-start, 1));
    transform: scale3d(1, 1, 1) translateY(0);
    /* Scale to 1 and move to original position */
    transition: opacity .8s cubic-bezier(0.455, 0.030, 0.515, 0.955), transform .8s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}



.zoom-in {
    --start-width: 99%;
    /* Example start width, can be % or any unit like vw, vh, px */
    --end-width: 1080px;
    border-radius: var(--border-radius-1);

}

.zoom-in.zoomed {
    width: var(--end-width);
    /* Apply the end width defined in the CSS variable */
    border-radius: var(--border-radius-1);
}


@media (max-width:1440px) {
    .zoom-in {
        --end-width: 75%;
    }
}

@media (max-width:674px) {
    .zoom-in {
        --end-width: 100%;
        transition: all .3s ease-in-out;
    }

    .zoom-in.zoomed {
        padding: 0 24px;
        border-radius: 18px;
    }

}


.zoom-image img {
    width: 100%;
    height: AUTO;
    object-fit: cover;
    margin: auto;
}



.translate-text-b {
    transform: translateY(-20px);
    transition: opacity 1.5s ease-in-out transform 1.5s;
}

.translate-text-down {
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out transform 1.5s;
}

.translate-text-up {
    transform: translateY(-20px);
    transition: opacity 1.5s ease-in-out transform 1.5s;
}



#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

#loading-text {
    font-size: 16px;
    font-weight: 300;
    transition: transform 0.5s ease;
    color: var(--white-color);
}


a {
    text-decoration: none;
    color: var(--white-color);
}

/* Scrollbar */



::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: var(--black-color);
}

::-webkit-scrollbar-track {
    background: var(--black-2-color);
    border-radius: 99px;
}

::-webkit-scrollbar-thumb {
    background: var(--teritiary-color);
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-bg-b-color);
}


/* Responsiveness */

@media (max-width:1220px) {

    .nav-main,
    .bg-about,
    .bg-main {
        width: calc(min(1440px, 100vw) - var(--ps-gutter) / 8);
    }

    .bg-footer {
        width: calc(min(1440px, 100vw) - var(--ps-gutter) / 8);
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        margin: auto;
        padding: 80px 0;
    }

    .main-card {
        min-height: 466px;
    }
}



@media (max-width:674px) {

    .cards-container {
        grid-template-columns: 1fr;
    }

    .intro-section-main {
        margin-top: unset;
        margin-bottom: unset;
    }

    .main-card {
        height: 60vh;
    }

    .intro-content {
        margin-top: 14vh;
    }
}


@media (max-width:674px) {

    .about-main,
    .footer-main {
        flex-direction: column;
    }

    .nav-main,
    .bg-about,
    .bg-main,
    .project-breif-heading {
        width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2);
    }

    .bg-main {
        .project-breif-heading {
            width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2);
        }
    }

    .bg-footer {
        width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2) !important;
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        margin: auto;
        padding: 80px 0;
    }

    .btn-1 {
        width: fit-content;
        background: var(--secondary-color);
    }

    .footer-main {
        align-items: flex-start !important;
        gap: 48px !important;
        justify-content: flex-start !important;
    }

    .bg-main {
        padding: 80px 0;
        gap: 40px;
    }

    .df {
        gap: 40px;
    }

    .menu-container {
        display: flex;
        top: 61px;
        left: 0;
        padding: 40px 24px;
        justify-content: flex-start;
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, height 0.5s ease-in-out;
        opacity: 0;
        height: 10vh;
        background: var(--black-color);
        border-bottom: 1px solid var(--border-color);
        box-sizing: border-box;
        z-index: 10;
        /* Ensure the menu is on top of other content */
    }


    .mob-nav-btns {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }


    .nav-btns {
        display: none;
        flex-direction: column;
        gap: 40px;
    }

    .nav-btns:active {
        display: flex;
    }


    .menu-icon {
        display: block;
    }

    .cards-container {
        gap: 48px;
    }

    .about-content {
        padding: 20px;
    }

    .btn-3 {
        width: fit-content;
    }

    .btn-1:active,
    .btn-2:active,
    .btn-3:active {
        transform: scale3d(0.98, 0.98, 0.98) !important;
    }

    .main-card:active {
        transform: scale3d(0.98, 0.98, 0.98) !important;
    }


    .mob-btn-1 {
        background-color: unset !important;
        padding: unset !important;
        font-size: 20px;
        text-decoration: none;
        color: var(--white-color);
        font-weight: 300;
    }

    .mob-btn-2 {
        background-color: var(--black-2-color);
        font-size: 16px;
        color: var(--white-color);
        text-transform: capitalize;
    }

    .btn-2 {
        padding: 0px !important;
        width: fit;
    }

    .menu-container.active {
        display: block;
        /* Show the menu container when active */
        opacity: 1;
        /* Fade in */
        transform: translateY(0);
        /* Slide down to the original position */
        visibility: visible;
        height: 40vh;
    }


    .menu-icon.clicked {
        transform: scale3d(0.98, 0.98, 0.98);
        /* Scale effect on click */
    }

    .main-card {
        padding: 8px;
    }

    .sub-card {
        padding: 14px;
        height: unset;
        background-color: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(20px);
        border-radius: var(--border-radius-2);
        opacity: 1;
        visibility: visible;
        transition: backdrop-filter 0.3s cubic-bezier(0, -.6, 0, 1.07), opacity 0.3s cubic-bezier(0, -.6, 0, 1.07), background-color 0.3s cubic-bezier(0, -.6, 0, 1.07);
    }

    .card-content {
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }

    .main-heading {
        width: 100%;
        text-align: left;
        text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
        font-size: 18px;
    }

    .heading-type {
        text-align: right;
        text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
        text-wrap: nowrap;
    }

    .popup-content {
        padding: 36px;
        gap: 24px;
    }

    .popup-content input {
        min-width: 250px;
    }

    .close-button {
        top: 14px;
        right: 14px;
    }

}



/* Project Details  */




.padding-unset {
    padding: 0 !important;
}

.margin-unset {
    margin: 0 !important;
}

.padding-top-unset {
    padding-top: unset !important;
}


.project-details {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;
    padding: 100px 0;

    .zoom-image {
        width: unset;
        border-radius: var(--border-radius-1);
    }
}

.project-details img {
    border-radius: var(--border-radius-1) !important;
}

.project-details-main {
    padding-top: 40px;
}

.breadcrumb {
    display: flex;
    gap: 10px;
}

.b-active {
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
}

.b-inactive {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-bg-b-color);
}

.b-inactive:hover {
    color: var(--black-2-color);
    cursor: pointer;
}

.pd-heading-main-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
}

.p-head-arrow {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100% !important;
}

.pd-main-heading {
    font-size: 4.5vw;
    font-weight: 400;
    color: var(--white-color);
    line-height: 0.65;
    opacity: 0.8 !important;
}

.pd-sub-heading {
    font-size: 20px;
    font-weight: 400;
    color: var(--grey-bg-b-color);
}




.pd-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;

    int {
        font-size: 18px;
        font-weight: 300 !important;
        line-height: 34px;
        margin: 0;
        color: var(--white-color);
    }
}

.pd-heading-div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.pd-heading-div-main {
    display: flex;
    flex-direction: column;

    .pd-main-heading-2 {
        position: unset !important;
        top: 0;
    }
}

.pd-heading-sub-div {
    display: flex;
    flex-direction: column;

    .pd-main-heading-2 {
        position: unset !important;
        top: 0;
    }

}

p {
    font-size: 18px;
    font-weight: 300 !important;
    line-height: 34px;
    margin: 0;
    color: var(--grey-bg-b-color);
}




.pd-content ch {
    font-size: 18px;
    font-weight: 400;
    color: var(--white-color);
}

.pd-content img {
    border-radius: var(--border-radius-1);
    border-radius: 1px solid var(--border-color);
}

.bg-grey {
    background-color: var(--secondary-color);

    .project-breif-heading {
        color: var(--black-color) !important;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
    }
}

.bg-darkgrey {
    background-color: var(--black-2-color);
}


.bg-white {
    background-color: var(--white-color);

    .challenges-content-heading {
        font-size: 2.4vw;
        font-weight: 500;
        color: var(--black-color) !important;
        line-height: 1.5;
    }

    .thankyou-content-heading {
        font-size: 2.4vw;
        font-weight: 500;
        color: var(--grey-bg-w-color) !important;
        line-height: 1.5;

        a {
            font-size: 2.4vw;
            font-weight: 500;
            color: var(--black-color) !important;
            line-height: 1.5;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .project-breif-heading {
        color: var(--black-color);
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
    }
}




.project-breif-heading {
    border-top: 1px solid var(--border-color);
    color: var(--white-color);
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.project-breif-main {
    display: flex;
    justify-content: space-between;
}


.project-breif-section {
    display: flex;
    flex-direction: column;
    gap: 56px;

    img {
        border-radius: var(--border-radius-1);
        border: 1px solid var(--border-color);
    }

    video {
        border-radius: var(--border-radius-1);
        border: 1px solid var(--border-color);
    }
}


.challenges-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 12px;
    background: #e2e2e2;
    overflow: auto;
    overflow-y: hidden;
    border-radius: var(--border-radius-1);
}


.challenges-sub {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}


.challenge-active-card {
    display: flex;
    width: 100%;
    padding: 24px;
    border: 1px solid var(--white-color);
    flex-direction: column;
    align-items: flex-start;
    opacity: 1;
    background: var(--white-color);
    border-radius: var(--border-radius-2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px inset, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(31, 28, 28, 0.12) 0px 4px 8px -7px, rgba(31, 28, 28, 0.04) 0px 16px 32px -7px;


    .challenge-heading {
        font-weight: 400;
    }

    .challenge-content {
        font-weight: 400;
    }
}

.challenge-inactive-card {
    display: flex;
    width: 100%;
    padding: 24px;
    border: 1px solid var(--white-color);
    flex-direction: column;
    align-items: flex-start;
    background: var(--white-color);
    opacity: 0.5;
    border-radius: var(--border-radius-2);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px 0px inset, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(31, 28, 28, 0.12) 0px 4px 8px -7px, rgba(31, 28, 28, 0.04) 0px 16px 32px -7px;

    .challenge-heading {
        color: var(--grey-bg-b-color);
        font-weight: 300;
    }

    .challenge-content {
        color: var(--grey-bg-b-color);
        font-weight: 300;
    }

}




.challenge-heading {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20vh;
}

.challenge-content {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.pd-challenges-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 56px;
}

.challenges-content-flow {
    display: flex;
    gap: 40px;
    img {
        border-radius: 4px !important;
    }
}



.pd-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pd-content-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.p-img-1 {
    width: 100%;
    height: 90vh;
    padding: 0 40px;
    border-radius: var(--border-radius-1);
}

.p-img-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #f2f2f2;
    border-radius: var(--border-radius-1);


}

.p-img-2 {
    width: 100%;
    height: 100vh;
    border-radius: var(--border-radius-1);

}

.p-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-1);
}

.pd-main-heading-2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--white-color);
    position: sticky;
    top: 80px;
}

.pd-sub-heading-2 {
    font-size: 18px;
    font-weight: 300;
    color: var(--grey-bg-b-color);
    margin-bottom: 16px;
}


.p-main-imgs {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.p-main-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-1);

}

.p-2imgs-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}

.p-2imgs-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-1);
}

.zoom-image {
    .fade-in {
        transform: scale3d(1.2, 1.2, 1.2) !important;
        overflow: overlay !important;
    }

    .fade-in.visible {
        overflow: unset !important;
        transform: scale3d(1, 1, 1) !important;
    }
}

.project-final-section {
    display: flex;
    flex-direction: column;
    gap: 56px;

    .pd-content {
        width: 100%;
    }
}




@media (max-width:674px) {

    .project-details {
        gap: 56px;
        width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2);
        padding: 80px 0;
    }

    .p-head-arrow {
        img {
            display: none;
        }
    }

    .pd-main {
        flex-direction: column;
    }

    .pd-heading-div {
        width: 100%;
    }

    .pd-content {
        width: 100%;
    }

    .pd-heading-main-div {
        flex-direction: row;
        gap: 24px;
        justify-content: space-between;
        width: 100%;
    }

    .p-main-imgs {
        gap: 24px;
    }

    .p-2imgs-2 {
        gap: 24px;
        grid-template-columns: 1fr;
    }

    .p-img-1 {
        height: 100%;
    }

    .p-img-1 img {
        object-fit: cover;
    }

    .p-img-2 {
        height: 100%;
    }

    .main-image {
        width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2);
        margin: auto;
        padding: 0;
    }

    .project-details-main {
        padding-top: 80px;
    }

    .challenges-sub {
        grid-template-columns: 1fr 1fr 1fr;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--text-color);
    }

    .challenges-sub::-webkit-scrollbar {
        width: 8px;
        /* Width of scrollbar */
    }

    .challenges-sub::-webkit-scrollbar-thumb {
        background-color: var(--black-2-color);
        /* Color of the scrollbar */
        border-radius: 10px;
        /* Add border-radius to the scrollbar */
    }

    .challenges-sub::-webkit-scrollbar-track {
        background-color: var(--black-2-color);
        /* Background of the track */
    }



    .pd-main-heading {
        font-size: 40px;
    }

    .bg-white {
        .challenges-content-heading {
            font-size: 26px;
        }

        .thankyou-content-heading {
            font-size: 26px;

            a {
                font-size: 26px;
            }
        }
    }


    .challenge-heading {
        padding-right: 44vw;
    }

    .challenges-content-flow {
        flex-direction: column;
    }

    .pd-main-heading-2 {
        position: unset;
    }

    .project-breif-main {
        flex-direction: column;
        gap: 28px;
    }

    .mobile-bg-main {
        padding: 0;
    }
}

/* Project Details */



/* Slider */

  